<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div>
        <h1>{{question}}</h1>
        <ul id="options" ng-show="ok">
            <li ng-repeat="option in poll_options" ng-click="click($index)" class="option-li" id="{{$index}}">{{option}}</li>
        </ul>
        <button ng-show="ok" class="btn btn-success" ng-class="{'disabled': buttonDisabled}" ng-click="submitAnswer()">Vote</button>
        <a ng-show="ok" class="btn btn-primary" ng-href="/poll/{{id}}/r">See results</a>
    </div>
</header>